# don't ever lint node_modules 
node_modules
# don't lint build output (make sure it's set to your correct build folder name) 
dist 
script

# sniper init config: @mf-types
@mf-types

# sniper init config: node_modules/
node_modules/

# sniper init config: dist/ 
dist/

# sniper init config: @mf-types/
@mf-types/

# sniper init config: node_modules/
node_modules/

# sniper init config: dist/ 
dist/

# sniper init config: @mf-types/
@mf-types/
