dist/
node_modules/
build/

# sniper init config: node_modules
node_modules

# sniper init config: dist
dist

# sniper init config: @mf-types
@mf-types

# sniper init config: @mf-types/
@mf-types/

# sniper init config: node_modules/
# sniper init config: dist/
# sniper init config: dmf-types/